@import url('https://fonts.googleapis.com/css?family=Montserrat:300,900|Raleway:300');

html,
body {
  max-height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  background: #18202d;
  /*background-image: url("photo.png");*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  color: #5a6b76;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}

#brain-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#brain {
  width: 100%;
  height: 100%;
}

#photo {
  z-index: 2;
}

#content {
  height: 100%;
  width: 100%;
  margin: auto;
  /*max-width: 960px;*/
  position: relative;
  z-index: 2;
}

iframe {
  width: 100%;
  max-width: 960px;
  height: calc(100% - 82px);
  margin: 0 auto;
  border: 0;
  background-color: transparent;
  display: block;
}

@media screen and (min-width: 401px) {
  div.title {
    font-size: 55px;
  }
  #brain-container {
    height: 1000px;
  }
}

@media screen and (max-width: 400px) {
  div.title {
    font-size: 55px;
  }
  #brain-container {
    height: 300px;
  }
}

@media screen and (min-width: 601px) {
  #brain-container {
    height: 1000px;
  }
}

@media screen and (max-width: 600px) {
  #brain-container {
    height: 300px;
  }
}

.border-sides {
  border-left: 1px solid #5a6b76;
  border-right: 1px solid #5a6b76;
}

.border-bottom {
  border-bottom: 1px solid #fc4f02;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fc4f02;
}

.topnav {
  overflow: hidden;
  background-color: #18202d;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #fc4f02;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #5a6b76;
  color: white;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.footer {
  position: fixed;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fc4f02;
  color: white;
  text-align: center;
}
